
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-results {
  width: 100%;
}

.search-result {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.search-result:last-child {
  border-bottom: none;
}

.search-result:hover {
  background-color: #f2f2f2;
}

.search-result-text {
  text-align: center;
}

.code-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.code-section h2 {
  margin-bottom: 10px;
}


.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px; /* Adjust the margin value as per your preference */
}
