.navbar {
  position: sticky;
  top: 0;
  width: 99%;
  background-color: #fefefe;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  overflow-x: auto; 
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-box {
  /* width: 60px;
  height: 40px;
  background-color: #BFCCB5;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%; */
  color: #333;
  
}

.logo-text {
  font-size: 15px;
  margin: 0;
  
}

.logo-btn {
  text-decoration: none;
}


.middle-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  white-space: nowrap; /* Prevent text from wrapping in the middle section */
  overflow-x: auto;
}

.right-section {
  display: flex;
  align-items: center;
}

.login-btn {
  border: none;
  background-color: transparent;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-left: 20px; /* Adjust the margin to align the login button to the left */
}

.nav-separator {
  height: 0;
  background-color: #000;
  grid-column: 1 / -1;
}

